<div class="container">
  <div class="row">
<h1>Listing all courses</h1>

    <% if  not current_user.blank?%>
        <%if current_user.admin? %>
        <%= link_to 'New course', new_course_path %>
        <% end %>
    <% end %>

<br><br>

    <div class="column">
      <table class="table">
  <tr>
    <th>Year</th>
    <th>Date</th>
    <th>Time</th>


    <th>Name</th>
    <th>Classroom</th>

    <th>Textbook</th>
    <th>Teacher</th>
    <th>Description</th>
  </tr>

  <% @courses.each do |course| %>
      <tr>
        <td><%= course.year.strftime("%Y") %> <%= course.semester %></td>
        <td><%= course.start_time.strftime("%m/%d") %> - <%= course.end_time.strftime("%m/%d") %></td>
        <td><%= course.start_time.strftime("%H:%M") %> - <%= course.end_time.strftime("%H:%M") %></td>


        <td><%= course.name %></td>
        <td><%= course.class_room %></td>

        <td><%= course.textbook %></td>

            <%@teacher=course.user%>
                <%if (@teacher != nil)%>
                  <td><%= @teacher.name %></td>
                    <%else%>
                         <td><%= "Teacher Deleted" %></td>
                 <%end%>

        <td><%= course.course_discription %></td>

        <% if  not current_user.blank?%>
            <%if current_user.admin? %>
                <td><%= link_to 'Edit', edit_course_path(course) %></td>

                <td><%= link_to 'Delete', course_path(course),
                        method: :delete, data: { confirm: 'Are you sure to delete?'}%></td>
            <% end %>
        <% end %>

      </tr>
  <% end %>
        </tbody>
</table>
      <% if  not current_user.blank?%>

      <%= link_to 'Course Registration', new_taking_course_path%>
      <% end %>

    </div>
  </div>
</div>

