<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Last Name Chinese:</strong>
  <%= @user.last_name_chn %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>First Name Chinese:</strong>
  <%= @user.first_name_chn %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>EMail:</strong>
  <%= @user.email %>
</p>
