<%= form_for :userinfo do |f| %>
    <table>
      <tr>
        <td> <%= f.label :Year %></td>
        <td><%= f.text_field :title %></td>
      </tr>

      <tr>
        <td><%= f.label :Semester %></td>
        <td><%= f.text_area :text %></td>
      </tr>

      <tr>
        <td><%= f.label :Name %></td>
        <td><%= f.text_area :text %></td>
      </tr>
      <tr>
        <td><%= f.label :Classroom %></td>
        <td><%= f.text_area :text %></td>
      </tr>

      <tr>
        <td><%= f.label :Time %></td>
        <td><%= f.text_area :text %></td>
      </tr>

      <tr>
        <td><%= f.label :Textbook %></td>
        <td><%= f.text_area :text %></td>
      </tr>

      <tr>
        <td><%= f.label :Teacher %></td>
        <td><%= f.text_area :text %></td>
      </tr>

      <tr>
        <td><%= f.label :"Course Discription" %></td>
        <td><%= f.text_area :text %></td>
      </tr>

    </table>

    <p>
      <%= f.submit value="Add " %>
    </p>

<% end %>
